.absolute{position:absolute}
.basis-_150rpx_{flex-basis:150rpx}
.bg-__1976d2_{background:#1976d2}
.bg-__1a1a1a_{background:#1a1a1a}
.bg-__2a2a2a_{background:#2a2a2a}
.bg-__333_{background:#333}
.bg-__9c27b0_{background:#9c27b0}
.bg-__ccc_{background:#ccc}
.bg-__e0e0e0_{background:#e0e0e0}
.bg-__e3f2fd_{background:#e3f2fd}
.bg-__e53935_{background:#e53935}
.bg-__f3e5f5_{background:#f3e5f5}
.bg-__f5f5f5_{background:#f5f5f5}
.bg-__fff3f3_{background:#fff3f3}
.bg-_rgba_229_57_53_0_8__{background:rgba(229,57,53,0.8)}
.bg-_rgba_51_51_51_0_9__{background:rgba(51,51,51,0.9)}
.bg-black{background-color:rgba(0,0,0,var(--un-bg-opacity,1))}
.bg-main{background-color:rgba(35,118,243,var(--un-bg-opacity,1))}
.bg-red{background-color:rgba(255,0,0,var(--un-bg-opacity,1))}
.bg-warn-50{background-color:rgba(241,117,9,var(--un-bg-opacity,0.5))}
.bg-white{background-color:rgba(255,255,255,var(--un-bg-opacity,1))}
.border{border-width:var(--un-line-width-default,1px)}
.border-b-1{border-bottom-width:1rpx}
.border-gray-200{border-color:rgba(128,128,128,var(--un-border-opacity,2))}
.border-l-0{border-left-width:0}
.border-r-0{border-right-width:0}
.border-solid{border-style:solid}
.border-t-0{border-top-width:0}
.bottom-0{bottom:0}
.bottom-8{bottom:8rpx}
.flex{display:flex}
.flex-1{flex:1}
.flex-col{flex-direction:column}
.flex-row{flex-direction:row}
.font-bold{font-weight:700}
.h-104{height:104rpx}
.h-2{height:2rpx}
.h-300{height:300rpx}
.h-360{height:360rpx}
.h-72{height:72rpx}
.h-88{height:88rpx}
.h-96{height:96rpx}
.h-full{height:100%}
.items-center{align-items:center}
.items-flex-end{align-items:flex-end}
.items-flex-start{align-items:flex-start}
.justify-between{justify-content:space-between}
.justify-center{justify-content:center}
.left-0{left:0}
.left-16{left:16rpx}
.left-32{left:32rpx}
.max-w-400{max-width:400rpx}
.max-w-500{max-width:500rpx}
.mb-10{margin-bottom:10rpx}
.mb-20{margin-bottom:20rpx}
.mb-28{margin-bottom:28rpx}
.mb-40{margin-bottom:40rpx}
.mb-6{margin-bottom:6rpx}
.mb-8{margin-bottom:8rpx}
.ml-12{margin-left:12rpx}
.ml-16{margin-left:16rpx}
.ml-48{margin-left:48rpx}
.ml-6{margin-left:6rpx}
.ml-auto{margin-left:auto}
.mr-12{margin-right:12rpx}
.mr-8{margin-right:8rpx}
.mt-12{margin-top:12rpx}
.mt-16{margin-top:16rpx}
.mt-20{margin-top:20rpx}
.mt-22{margin-top:22rpx}
.mt-26{margin-top:26rpx}
.mt-4{margin-top:4rpx}
.mt-8{margin-top:8rpx}
.none{display:none}
.of-hidden{overflow:hidden}
.overflow-hidden{overflow:hidden}
.p-20{padding:20rpx}
.p-8{padding:8rpx}
.pb-12{padding-bottom:12rpx}
.pb-16{padding-bottom:16rpx}
.pb-24{padding-bottom:24rpx}
.pb-4{padding-bottom:4rpx}
.pb-40{padding-bottom:40rpx}
.pb-8{padding-bottom:8rpx}
.pb-96{padding-bottom:96rpx}
.pt-16{padding-top:16rpx}
.pt-18{padding-top:18rpx}
.pt-20{padding-top:20rpx}
.pt-200{padding-top:200rpx}
.pt-40{padding-top:40rpx}
.pt-48{padding-top:48rpx}
.pt-8{padding-top:8rpx}
.px-16{padding-left:16rpx;padding-right:16rpx}
.px-18{padding-left:18rpx;padding-right:18rpx}
.px-20{padding-left:20rpx;padding-right:20rpx}
.px-24{padding-left:24rpx;padding-right:24rpx}
.px-28{padding-left:28rpx;padding-right:28rpx}
.px-32{padding-left:32rpx;padding-right:32rpx}
.px-8{padding-left:8rpx;padding-right:8rpx}
.py-10{padding-top:10rpx;padding-bottom:10rpx}
.py-12{padding-top:12rpx;padding-bottom:12rpx}
.py-14{padding-top:14rpx;padding-bottom:14rpx}
.py-15{padding-top:15rpx;padding-bottom:15rpx}
.py-16{padding-top:16rpx;padding-bottom:16rpx}
.py-18{padding-top:18rpx;padding-bottom:18rpx}
.py-2{padding-top:2rpx;padding-bottom:2rpx}
.py-32{padding-top:32rpx;padding-bottom:32rpx}
.py-4{padding-top:4rpx;padding-bottom:4rpx}
.py-6{padding-top:6rpx;padding-bottom:6rpx}
.py-8{padding-top:8rpx;padding-bottom:8rpx}
.rd-12{border-radius:12rpx}
.rd-16{border-radius:16rpx}
.rd-18{border-radius:18rpx}
.rd-20{border-radius:20rpx}
.rd-24{border-radius:24rpx}
.rd-36{border-radius:36rpx}
.rd-4{border-radius:4rpx}
.rd-8{border-radius:8rpx}
.rd-full{border-radius:9999999rpx}
.relative{position:relative}
.right-0{right:0}
.right-12{right:12rpx}
.right-32{right:32rpx}
.rounded-lg{border-radius:var(--un-radius-lg-default,8rpx)}
.text-__1976d2_{color:#1976d2}
.text-__333_{color:#333}
.text-__4caf50_{color:#4caf50}
.text-__555_{color:#555}
.text-__7b1fa2_{color:#7b1fa2}
.text-__888_{color:#888}
.text-__999_{color:#999}
.text-__bbb_{color:#bbb}
.text-__ccc_{color:#ccc}
.text-__e53935_{color:#e53935}
.text-20{font-size:20rpx}
.text-22{font-size:22rpx}
.text-24{font-size:24rpx}
.text-26{font-size:26rpx}
.text-28{font-size:28rpx}
.text-30{font-size:30rpx}
.text-32{font-size:32rpx}
.text-34{font-size:34rpx}
.text-40{font-size:40rpx}
.text-48{font-size:48rpx}
.text-56{font-size:56rpx}
.text-gray-500{color:rgba(128,128,128,var(--un-color-opacity,5))}
.text-gray-800{color:rgba(128,128,128,var(--un-color-opacity,8))}
.text-green{color:rgba(0,128,0,var(--un-color-opacity,1))}
.text-main{color:rgba(35,118,243,var(--un-color-opacity,1))}
.text-warn-650{color:rgba(241,117,9,var(--un-color-opacity,6.5))}
.text-white{color:rgba(255,255,255,var(--un-color-opacity,1))}
.top-16{top:16rpx}
.top-24{top:24rpx}
.top-32{top:32rpx}
.top-80{top:80rpx}
.tracking-2{letter-spacing:2rpx}
.w-104{width:104rpx}
.w-240{width:240rpx}
.w-300{width:300rpx}
.w-full{width:100%}
.z-10{z-index:10}
.z-15{z-index:15}
.z-20{z-index:20}
.z-5{z-index:5}